.main-wrap {
    max-width: 750px;
    margin: auto;
    position: relative; }

.orange {
    color: #ff801a; }

html {
    font-size: 100px; }

.mt30r {
    margin-top: 0.3rem; }

.mt20r {
    margin-top: 0.2rem; }

.mt10r {
    margin-top: 0.1rem; }

.mt5r {
    margin-top: 0.1rem; }

.mb5r {
    margin-bottom: 0.5rem; }

.pl25r {
    padding-left: 0.25rem; }

.title-box {
    padding: 0.6rem 0 0.1rem 0; }

.title {
    font-size: 0.25rem; }

.vermid {
    vertical-align: middle; }

.wrapchange {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 2.4rem;
    display: inline-block; }

.subtitle {
    font-size: 0.16rem;
    color: #999999; }

.info-box {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem; }

.head-box {
    width: 2.62rem;
    height: 2.78rem;
    background: url(../img/head-holder.png) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    position: relative; }

.head-img {
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    overflow: hidden;
    left: 0.16rem;
    top: 0.16rem; }

.head-error-example {
    width: 2.3rem;
    margin: 0 auto; }

.img-text {
    width: 2.3rem;
    height: 0.4rem;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    left: 0.16rem;
    top: 2.06rem; }

.success-icon {
    width: 0.9rem;
    height: 0.93rem;
    background: url(../img/success-icon.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: 2;
    bottom: -0.25rem;
    left: 50%;
    margin-left: -0.45rem; }

/* .protocol-wrap {
  text-align: center;
  color: #999999;
  font-size: .12rem; } */

.protocol-wrap {
    position: relative;
    text-align: center;
    color: #999999;
    font-size: .12rem;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    line-height: .16rem; }
.protocol-wrap .checkbox {
    display: inline-block;
    margin-left: .25rem;
    margin-right: .05rem; }
.protocol-wrap .checkbox .checkbox-icon {
    border: 1px solid #0074ff;
    background-color: #0074ff;
    position: relative;
    display: inline-block;
    width: .13rem;
    height: .13rem;
    border-radius: 2px;
    font-size: .14rem;
    transition: all .2s; }
.protocol-wrap .checkbox .checkbox-icon:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 8px;
    margin-left: -5px;
    margin-top: -4px;
    background: url(//storage.jd.com/static-res/tech/jrv/1.0.0/checkbox/active.png) no-repeat 50%;
    background-size: 10px 8px;
    border: 0 solid #0074ff;
    -webkit-transition: all .2s;
    transition: all .2s; }
.protocol-wrap .checkbox .checked {
    position: relative;
    display: inline-block;
    width: .13rem;
    height: .13rem;
    border-radius: 2px;
    border: 1px solid #bec1ca;
    transition: all .2s;
    background: #fff; }

.protocol-wrap a {
    color: #4091ff; }

.btn-box {
    padding: 0 0.15rem; }

.photo-icon {
    width: 0.2rem;
    height: 0.18rem;
    background: url(../img/photo-icon.png) no-repeat center center;
    background-size: cover;
    display: inline-block;
    position: absolute; }

.btn {
    background-color: #4091ff;
    padding: 0.15rem 0;
    color: #fff;
    font-size: 0.18rem;
    text-align: center;
    position: relative;
    vertical-align: middle;
    line-height: 1; }

.blue {
    background: #4091ff; }

.gray {
    background: #999; }

.again-box {
    width: 1rem;
    height: 0.25rem;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 0.25rem; }

.file-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0; }

.again-btn {
    width: 1rem;
    height: 0.25rem;
    background: #fff url(../img/again-btn.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    pointer-events: none; }

.footer-box {
    position: absolute;
    bottom: 0.15rem;
    color: #ccc;
    text-align: center;
    font-size: 0.1rem;
    width: 100%; }

.index-info {
    font-size: 0.14rem;
    color: #999;
    padding: 0 0.35rem 0.25rem 0.35rem;
    text-align: justify; }

.bg-layer {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0; }

.cont-layer {
    position: relative;
    z-index: 2; }

.index-head {
    width: 1.82rem;
    height: 1.9rem;
    margin: 0 auto 0.2rem auto;
    padding-top: 0.4rem; }

.index-img {
    width: 1.82rem;
    height: 1.9rem;
    background: url(../img/index-head.png) no-repeat center center;
    background-size: cover; }

.index-account {
    font-size: 0.18rem;
    color: #333;
    font-weight: bold;
    padding-bottom: 0.45rem; }

.color01a {
    color: #ff801a; }

.color508 {
    color: #508cee; }

.index_layer {
    max-width: 750px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    position: absolute; }

.index_head {
    width: 100%;
    position: absolute; }

.index_head img {
    width: 100%; }

.index_button {
    width: 80%;
    height: 0.5rem;
    background-color: #4091ff;
    color: #fefefe;
    line-height: 0.5rem;
    font-size: 0.18rem;
    text-align: center;
    margin: 0 auto;
    margin-top: .3rem;
    position: relative;
    z-index: 2; }

.index_name {
    font-size: 0.18rem;
    text-align: center;
    margin-top: 5rem;
    position: relative;
    z-index: 2; }

.real_layer {
    max-width: 750px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    position: relative; }

.real_head_img {
    padding-top: 0.9rem; }

.real_head {
    width: 2.3rem;
    margin: 0 auto; }

.real_head img {
    width: 100%; }

.title1 {
    text-align: center;
    font-size: 0.25rem;
    margin-top: 0.3rem; }

.title2 {
    text-align: center;
    font-size: 0.15rem;
    color: #999999;
    margin-top: 0.1rem; }

.real_button {
    width: 80%;
    height: 0.5rem;
    background-color: #4091ff;
    color: #fefefe;
    line-height: 0.5rem;
    font-size: 0.18rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.4rem;
    position: relative;
    z-index: 2; }

.upphoto_button {
    margin-top: 0.2rem; }

.up_button {
    width: 1.6rem;
    height: 0.5rem;
    background-color: #4091ff;
    float: left;
    line-height: 0.5rem;
    font-size: 0.18rem;
    text-align: center;
    color: #fff;
    margin-left: 0.2rem; }

.upphoto_example {
    width: 3.1rem;
    margin: 0 auto;
    margin-top: 0.45rem; }

.upphoto_example img {
    width: 100%; }

.confirm_head {
    width: 2.62rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    position: relative; }

.confirm_head img {
    width: 100%; }

.confirm_content {
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: 0rem;
    left: 0.15rem; }

.confirm_content img {
    width: 100%;
    height: 120%; }

.confirm_rightbutton {
    position: relative;
    width: 90%;
    height: 0.5rem;
    background-color: #4091ff;
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    line-height: 0.5rem;
    margin: 0 auto;
    margin-top: 0.2rem; }

.confirm_canclebutton {
    position: relative;
    width: 90%;
    height: 0.5rem;
    border: 1px solid #4091ff;
    font-size: 0.18rem;
    color: #4091ff;
    text-align: center;
    line-height: 0.5rem;
    margin: 0 auto;
    margin-top: 0.2rem; }

.head-img img {
    height: 100%;
    width: 100%; }

.success_attention {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 0.14rem;
    color: #999; }

.teach-wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none; }

.step-box {
    width: 3.2rem;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.6rem;
    margin-top: -2rem;
    display: none; }

.current-step {
    display: block; }

.step-btn {
    width: 1.9rem;
    height: 0.42rem;
    margin: auto;
    margin-top: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 10rem;
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.18rem; }



/*add*/
.btn{
    /*隐藏拍照上传按钮*/
    display: none; 
}

.textInput{
    text-align: center;
}
.textInput input{
    border: 1px solid #ccc;
    width: 2.4rem;
    height: .3rem;
}

.btn-e{
    background: #eee;
}

.btn_s{
    padding: 0.15rem 0;
    color: #fff;
    font-size: 0.18rem;
    text-align: center;
    position: relative;
    vertical-align: middle;
    line-height: 1;
}


.vido-input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: none
}